.iphone-14-15-pro-max-3-child {
  position: absolute;
  height: 25.93%;
  width: 295.93%;
  top: -9.66%;
  right: -196.8%;
  bottom: 83.73%;
  left: 0.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
}
.imou {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 100%;
}
.menu-01-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.imou-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 188px);
  width: 376px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  box-sizing: border-box;
  color: var(--gray-2);
}
.resources {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.a-few-resources {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 361px;
}
.a-few-resources-to-help-improv-wrapper,
.resources-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.a-few-resources-to-help-improv-wrapper {
  align-items: flex-start;
  text-align: center;
  font-size: 18px;
  color: var(--gray-2);
}
.resources-parent {
  position: absolute;
  top: 129px;
  left: calc(50% - 180.5px);
  align-items: center;
  gap: 16px;
  font-size: 64px;
}
.divoverflow-hidden {
  position: relative;
  border-radius: 12.29px;
  background-color: var(--color-white);
  box-shadow: 0 0 0 0.31px #e4e5e9, 0 0 0 0.61px rgba(228, 229, 233, 0.6),
    0 0 0 2.15px #f9f9fb, 0 0 0 2.46px #f3f4f7;
  width: 377px;
  height: 231px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.background-remover,
.remove-image-backgrounds {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.remove-image-backgrounds {
  font-size: var(--font-size-base);
  line-height: 130%;
  color: var(--gray-2);
  display: inline-block;
  width: 362px;
}
.background-remover-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.divoverflow-hidden-icon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 95.4px);
  left: calc(50% - 163px);
  border-radius: 12.29px 12.29px 0 0;
  width: 325px;
  height: 168px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.divoverflow-hidden-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mid-8);
}
.divoverflow-hidden-icon1,
.divoverflow-hidden-icon2 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 96.2px);
  left: calc(50% - 162px);
  border-radius: 12.29px 12.29px 0 0;
  width: 325px;
  height: 168px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.divoverflow-hidden-icon2 {
  top: calc(50% - 85.9px);
  left: calc(50% - 163px);
}
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.heading-3 {
  position: relative;
  line-height: 35.64px;
}
.emohmoregmailcom {
  position: relative;
  font-size: 13.23px;
  line-height: 18.95px;
  font-weight: 500;
}
.heading-3-support-parent {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.before {
  height: 100%;
  width: 100%;
  top: 16.94px;
  right: 0;
  bottom: -16.94px;
  left: 0;
  background-color: #fcfaf4;
}
.before,
.div,
.link {
  position: absolute;
}
.link {
  top: 68.56px;
  left: 22.64px;
  width: 84.59px;
  height: 18.94px;
  overflow: hidden;
}
.div {
  top: 69.59px;
  left: 104.33px;
  font-size: 14.6px;
  line-height: 18.95px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  width: 3.83px;
  height: 18px;
}
.divsupport-top {
  position: absolute;
  width: calc(100% - 145.41px);
  top: 25.91px;
  right: 119.51px;
  left: 25.9px;
  height: 101.48px;
}
.group-icon {
  position: absolute;
  height: 57.39%;
  width: 47.25%;
  top: 49.9%;
  right: 35.32%;
  bottom: -7.29%;
  left: 17.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.image-747-icon {
  position: absolute;
  top: 76px;
  left: 226px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.divw-node-4e92682f-95fa-a85c {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 350px;
  height: 180.54px;
}
.create {
  margin: 0;
}
.create-something-wonderful-container,
.imoukhuede {
  position: relative;
  line-height: 100%;
}
.imoukhuede {
  position: absolute;
  top: 0.62px;
  left: -0.11px;
  letter-spacing: -0.05em;
}
.link1 {
  position: absolute;
  width: calc(100% - 256px);
  top: 0;
  right: 256px;
  left: 0;
  height: 35.02px;
}
.all-rights-reserved {
  position: absolute;
  top: 47.97px;
  left: 0;
  font-size: 13.23px;
  line-height: 18.95px;
  font-weight: 500;
  color: var(--gray-1);
}
.divfooter-logo-wrapper {
  position: relative;
  width: 298.59px;
  height: 66.91px;
  font-size: var(--font-size-17xl);
  color: var(--gray-2);
}
.create-something-wonderful-parent {
  position: absolute;
  top: calc(50% - 113.77px);
  left: 25.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.divw-node-4e92682f-95fa-a85c1 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 350px;
  height: 291.53px;
  font-size: 40px;
}
.lalinkedin-icon,
.ribehance-line-icon {
  position: relative;
  width: 61.37px;
  height: 61.37px;
  overflow: hidden;
  flex-shrink: 0;
}
.ribehance-line-icon {
  width: 46.03px;
  height: 46.03px;
}
.lalinkedin-parent {
  position: absolute;
  top: calc(50% - 31px);
  left: calc(50% - 115px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30.68px;
}
.divw-node-4e92682f-95fa-a85c2 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 350px;
  height: 90px;
}
.good-vibes-and {
  position: relative;
  line-height: 21.87px;
  font-weight: 500;
}
.image-748-icon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.good-vibes-and-so-on-parent {
  position: absolute;
  top: calc(50% - 19.51px);
  left: calc(50% - 90.52px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divw-node-4e92682f-95fa-a85c3 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 350px;
  height: 90.27px;
  font-size: 13.46px;
}
.divw-node-4e92682f-95fa-a85c-parent,
.frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divw-node-4e92682f-95fa-a85c-parent {
  align-items: flex-end;
  gap: var(--gap-5xl);
  font-size: 30.25px;
}
.frame-parent {
  position: absolute;
  top: 323px;
  left: calc(50% - 188px);
  align-items: flex-start;
  gap: 96px;
  font-size: var(--font-size-xl);
}
.iphone-14-15-pro-max-3 {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 2120px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--gray-1);
  font-family: var(--font-trap);
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }