.broadpay-mobile,
.visit-lencoco {
  position: relative;
  line-height: 100%;
}
.visit-lencoco {
  font-size: var(--font-size-5xl);
  color: var(--gray-3);
}
.broadpay-mobile-app-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.deviceframes-4-1,
.group-child {
  position: absolute;
  top: 0;
  left: 363.35px;
  width: 217.03px;
  height: 445.83px;
  object-fit: cover;
}
.deviceframes-4-1 {
  top: 25px;
  left: 0;
  width: 415.32px;
  height: 421.42px;
}
.group-parent {
  position: absolute;
  top: 32px;
  left: 460px;
  width: 580.38px;
  height: 446.42px;
}
.the-mobile-app {
  margin: 0;
}
.the-mobile-app-container {
  position: absolute;
  top: 81px;
  left: 60px;
  line-height: 120%;
  font-weight: 500;
}
.macbook-pro-14-14 {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1160px;
  height: 509.42px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1,
.macbook-pro-14-14-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.macbook-pro-14-14-wrapper {
  font-size: 62.9px;
  color: var(--color-black);
}
.frame-parent1 {
  gap: var(--gap-13xl);
}
.lead-product-designer {
  position: relative;
  line-height: 100%;
  color: var(--gray-2);
}
.my-role-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-div,
.frame-parent2,
.my-role-parent {
  display: flex;
  align-items: flex-start;
}
.frame-parent2 {
  width: 1160px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
}
.frame-div {
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
}
.broadpay-is-a {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 140%;
  color: var(--gray-2);
  display: inline-block;
  width: 1160px;
}
.depositphotos-568101364-xl-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1145px;
  height: 621px;
  object-fit: cover;
}
.chevron-left-icon {
  position: relative;
  width: 17.85px;
  height: 17.85px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobile-money {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.back {
  position: relative;
  width: 17.85px;
  height: 17.85px;
}
.bar {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border-bottom: 0.7px solid var(--grey-secondary);
  box-sizing: border-box;
  width: 242.43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11.901477813720703px 17.852216720581055px;
}
.k4500 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.k28370000 {
  font-weight: 500;
  color: var(--black-secondary);
}
.available-balance-k28370000-container {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.frame,
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame {
  align-self: stretch;
  align-items: center;
  font-size: 8.93px;
  color: var(--black-tertiary);
}
.section1 {
  border-radius: 5.93px;
  background-color: var(--color-white);
  border: 0.7px solid var(--grey-secondary);
  box-sizing: border-box;
  width: 243.24px;
  align-items: flex-start;
  padding: 11.862069129943848px;
  gap: 5.93px;
}
.div,
.phone-number {
  position: relative;
  line-height: 100%;
  z-index: 0;
}
.div {
  font-size: var(--font-size-xs-9);
  color: var(--black-secondary);
  z-index: 1;
}
.simcard-icon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7.81px);
  right: 8.18px;
  width: 14.88px;
  height: 14.88px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.inputlg {
  border-radius: 5.95px;
  background-color: var(--color-white);
  border: 0.7px solid var(--black-quin);
  box-sizing: border-box;
  width: 243.24px;
  height: 41.66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5.950738906860352px 11.901477813720703px 7.4384236335754395px
    14.876847267150879px;
  position: relative;
  gap: 5.95px;
  z-index: 0;
}
.tatiana-curtis {
  position: relative;
  font-size: var(--font-size-xs-9);
  line-height: 100%;
  color: var(--black-secondary);
}
.inputlg1 {
  border-radius: 5.95px;
  background-color: var(--color-white);
  border: 0.7px solid var(--black-quin);
  box-sizing: border-box;
  width: 243.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5.950738906860352px 11.901477813720703px 7.4384236335754395px
    14.876847267150879px;
  gap: 5.95px;
  z-index: 1;
}
.circle-icon {
  position: relative;
  width: 14.88px;
  height: 14.88px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.recurring-cycle {
  position: relative;
  line-height: 120%;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8.93px;
  z-index: 0;
}
.chevron-down-icon {
  position: absolute;
  margin: 0 !important;
  top: 13.39px;
  right: 11.82px;
  width: 14.88px;
  height: 14.88px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.inputlg2 {
  align-self: stretch;
  border-radius: 5.95px;
  background-color: var(--color-white);
  border: 0.7px solid var(--black-quin);
  box-sizing: border-box;
  height: 41.66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7.4384236335754395px 11.901477813720703px 7.4384236335754395px
    14.876847267150879px;
  position: relative;
  gap: 8.93px;
}
.hint-text,
.input1 {
  align-self: stretch;
  display: none;
}
.hint-text {
  position: relative;
  font-size: 10.41px;
  line-height: 120%;
  color: var(--black-tertiary);
}
.input1 {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.95px;
}
.you-will-be-container {
  position: relative;
  font-size: 8.93px;
  line-height: 100%;
  display: none;
  color: var(--black-tertiary);
}
.input {
  width: 243.24px;
  height: 41.66px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.93px;
  z-index: 2;
  font-size: var(--font-size-xs-9);
  color: var(--black-quat);
}
.lenco-money {
  position: relative;
  font-size: 8.93px;
  line-height: 100%;
  color: var(--black-tertiary);
}
.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.95px;
}
.free-transfer,
.to-lenco-money {
  position: relative;
  line-height: 100%;
}
.free-transfer {
  font-weight: 500;
}
.to-lenco-money {
  color: var(--black-tertiary);
}
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.49px;
  font-size: 5.95px;
  color: var(--success-primary);
}
.content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.95px;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-tertiary);
  height: 0.74px;
}
.frame2,
.input2 {
  align-items: flex-start;
}
.frame2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.49px;
  font-size: 5.95px;
}
.input2 {
  margin: 0 !important;
  position: absolute;
  top: 49.84px;
  left: -0.74px;
  border-radius: 5.95px;
  background-color: var(--color-white);
  box-shadow: 0 0.44630542397499084px 0.74px rgba(65, 65, 90, 0.08);
  border: 0.7px solid var(--grey-tertiary);
  box-sizing: border-box;
  width: 244.72px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.926108360290527px 14.876847267150879px;
  gap: 7.44px;
  z-index: 3;
  font-size: 10.41px;
  color: var(--black-secondary);
}
.field {
  position: relative;
  gap: 11.9px;
  text-align: left;
  font-size: 7.44px;
  color: var(--black-tertiary);
}
.bar-parent,
.field,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section {
  width: 242.43px;
  gap: 14.83px;
  text-align: center;
  font-size: 35.7px;
}
.bar-parent {
  gap: 38px;
}
.text {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.button-base,
.frame-parent3 {
  display: flex;
  align-items: center;
}
.button-base {
  align-self: stretch;
  border-radius: 5.95px;
  background-color: var(--black-primary);
  border: 0.5px solid var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-base) 23.802955627441406px;
  gap: 5.95px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frame-parent3 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
}
.frame-wrapper1,
.frame-wrapper2 {
  border: 2.5px solid var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  border-radius: var(--br-5xl);
  flex-direction: column;
  padding: 24px var(--padding-base) 120px;
}
.frame-wrapper1 {
  position: absolute;
  top: 115px;
  left: 779px;
  border-radius: 32px;
  flex-direction: row;
  padding: var(--padding-base);
}
.depositphotos-568101364-xl-1-parent {
  position: relative;
  width: 1145px;
  height: 621px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-xs-9);
  color: var(--black-primary);
}
.challenge {
  position: relative;
  line-height: 100%;
  display: inline-block;
  width: 1160px;
}
.challenge-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-21xl);
}
.image-750-icon,
.image-751-icon,
.image-753-icon {
  position: relative;
  border-radius: var(--br-base);
  width: 540px;
  height: 621px;
  object-fit: cover;
  z-index: 0;
}
.image-750-icon,
.image-753-icon {
  width: 586px;
  height: 291px;
}
.image-753-icon {
  z-index: 1;
}
.image-755-icon,
.image-756-icon {
  position: absolute;
  margin: 0 !important;
  top: 29px;
  left: 189px;
  width: 207px;
  height: 262px;
  object-fit: cover;
  z-index: 2;
}
.image-756-icon {
  top: 330px;
  left: 328px;
  width: 212px;
  height: 242px;
  z-index: 3;
}
.quick-and-hassle-free-container {
  position: absolute;
  margin: 0 !important;
  top: 413px;
  left: 50px;
  line-height: 100%;
  display: inline-block;
  z-index: 4;
}
.check-box-icon {
  position: relative;
  border-radius: 5.02px;
  width: 10.03px;
  height: 10.03px;
  overflow: hidden;
  flex-shrink: 0;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.64px;
  height: 6.24px;
}
.mobile-money1 {
  position: absolute;
  top: 8.01px;
  left: 5.63px;
  letter-spacing: -0.05em;
  line-height: 100%;
  font-weight: 500;
}
.lenco-money1 {
  position: relative;
  width: 28.64px;
  height: 10.01px;
  display: none;
}
.k5000 {
  color: var(--black-secondary);
}
.trend-up-01-icon {
  position: relative;
  width: 7.06px;
  height: 7.06px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2.83px;
  font-size: 8.48px;
  color: var(--success-primary);
}
.content5,
.frame4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame4 {
  gap: 5.02px;
  font-size: 10px;
  color: var(--black-tertiary);
}
.content5 {
  gap: 7.52px;
}
.frame3,
.image-750-parent {
  display: flex;
  justify-content: flex-start;
}
.frame3 {
  margin: 0 !important;
  position: absolute;
  top: 121px;
  left: 56px;
  border-radius: 6.27px;
  background-color: var(--brand-backdrop);
  border: 0.6px solid var(--brand-primary);
  flex-direction: row;
  align-items: center;
  padding: 13px var(--padding-3xs);
  gap: 10px;
  z-index: 5;
  font-size: 3px;
  color: var(--black-primary);
  font-family: var(--font-helvetica-neue);
}
.image-750-parent {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 39px;
  z-index: 1;
}
.image-754-icon {
  position: absolute;
  margin: 0 !important;
  top: 46px;
  left: 138px;
  width: 263px;
  height: 530px;
  object-fit: cover;
  z-index: 2;
}
.image-751-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 34px;
  font-size: 37.49px;
  color: #2e2d2c;
  font-family: var(--font-trap);
}
.design-objectives {
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 100%;
  font-family: var(--font-helvetica-neue);
  color: var(--gray-1);
  display: inline-block;
  width: 1160px;
}
.user-friendly-interface {
  font-weight: 500;
}
.user-friendly-interface-devel-container {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 1160px;
}
.design-objectives-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-13xl);
  color: var(--gray-2);
  font-family: var(--font-trap);
}
.aa {
  position: relative;
  font-size: 203.92px;
  line-height: 100%;
  color: var(--gray-2);
}
.typography-colors-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.b {
  position: relative;
  line-height: 100%;
  white-space: pre-wrap;
}
.a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-parent {
  flex-direction: column;
  gap: var(--gap-xs);
}
.a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-parent,
.frame-parent5,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  flex-direction: column;
  gap: 44px;
  color: var(--gray-2);
}
.frame-parent5 {
  flex-direction: row;
  gap: 140px;
}
.group-inner,
.group-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--black-quin);
  width: 207px;
  height: 145px;
}
.group-inner,
.rectangle-div {
  top: 32px;
  background-color: var(--black-quat);
}
.rectangle-div {
  top: 66px;
  background-color: var(--black-primary);
}
.rectangle-parent {
  position: relative;
  width: 207px;
  height: 211px;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: #dde1fe;
  width: 207px;
  height: 145px;
}
.group-child2 {
  top: 32px;
  background-color: var(--brand-quat-inactive);
}
.group-child2,
.group-child3,
.group-child4 {
  position: absolute;
  left: 0;
  border-radius: var(--br-5xl);
  width: 207px;
  height: 145px;
}
.group-child3 {
  top: 66px;
  background-color: var(--brand-primary);
}
.group-child4 {
  top: 0;
  background-color: #a7e0ad;
}
.group-child5 {
  top: 32px;
  background-color: #7ad183;
}
.group-child5,
.group-child6,
.group-child7,
.group-child8,
.group-child9 {
  position: absolute;
  left: 0;
  border-radius: var(--br-5xl);
  width: 207px;
  height: 145px;
}
.group-child6 {
  top: 66px;
  background-color: var(--success-primary);
}
.group-child7,
.group-child8,
.group-child9 {
  top: 0;
  background-color: #fbdec4;
}
.group-child8,
.group-child9 {
  top: 32px;
  background-color: #f8bc88;
}
.group-child9 {
  top: 66px;
  background-color: #f07911;
}
.frame-parent4,
.group-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-container {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.frame-parent4 {
  position: absolute;
  top: 64.58px;
  left: calc(50% - 461.33px);
  flex-direction: column;
  gap: 47px;
}
.frame-wrapper3 {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1145px;
  height: 621px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.frame-group {
  gap: var(--gap-41xl);
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.conducted-extensive-market-container {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 140%;
  font-family: var(--font-helvetica-neue);
  color: var(--gray-2);
  display: inline-block;
  width: 1160px;
}
.these-wireframes-offer,
.user-flow {
  position: relative;
  line-height: 29.97px;
  display: inline-block;
  width: 300px;
  flex-shrink: 0;
}
.these-wireframes-offer {
  font-size: var(--font-size-base);
  line-height: 140%;
  width: 668px;
}
.user-flow-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-141xl);
}
.image-763-icon {
  position: absolute;
  top: 64.58px;
  left: calc(50% - 512.33px);
  width: 1026px;
  height: 514px;
  object-fit: cover;
}
.image-763-wrapper {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1145px;
  height: 621px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-758-icon {
  position: absolute;
  top: calc(50% - 190.42px);
  left: calc(50% - 528.33px);
  width: 1056.67px;
  height: 380px;
  object-fit: cover;
}
.frame-child,
.image-758-wrapper {
  position: relative;
  width: 1145px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-758-wrapper {
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  height: 534px;
}
.frame-child {
  height: 621px;
  object-fit: cover;
}
.image-759-icon {
  position: absolute;
  top: calc(50% - 160.42px);
  left: calc(50% - 541.33px);
  width: 1083px;
  height: 320px;
  object-fit: cover;
}
.image-759-wrapper {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1145px;
  height: 476px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-760-icon {
  position: absolute;
  top: 85.58px;
  left: calc(50% - 532.33px);
  width: 1265.17px;
  height: 320px;
  object-fit: cover;
}
.image-760-wrapper {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1145px;
  height: 488px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-761-icon {
  position: absolute;
  top: calc(50% - 211.92px);
  left: calc(50% - 472.5px);
  width: 945px;
  height: 424px;
  object-fit: cover;
}
.image-761-wrapper {
  position: relative;
  background: linear-gradient(90.74deg, #eaeaea, #f7f7ff);
  width: 1145px;
  height: 567px;
  overflow: hidden;
  flex-shrink: 0;
}
.we-drafted-out-container {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 140%;
  font-family: var(--font-helvetica-neue);
  color: var(--gray-2);
  display: none;
  width: 1160px;
}
.conducted-extensive-market-res-parent,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.conducted-extensive-market-res-parent {
  gap: 40px;
  font-size: 37.41px;
  color: var(--color-black);
  font-family: var(--font-trap);
}
.frame-wrapper4 {
  font-size: var(--font-size-21xl);
}
.conclusion {
  position: relative;
  line-height: 29.97px;
  display: inline-block;
  width: 1160px;
}
.frame-parent,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  font-size: 37.41px;
  color: var(--color-black);
  font-family: var(--font-trap);
}
.frame-parent {
  position: absolute;
  top: 221px;
  left: 59.83px;
  gap: 80px;
}
.download-cv,
.imoukhuede {
  position: relative;
  line-height: 100%;
}
.imoukhuede {
  letter-spacing: -0.05em;
}
.download-cv {
  font-family: var(--font-helvetica);
  display: none;
}
.download-cv-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--gray-1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-base);
  color: #fcfaf8;
}
.imoukhuede-parent,
.work-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.work-parent {
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xl);
  color: var(--gray-3);
}
.imoukhuede-parent {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 1160px;
  justify-content: space-between;
  font-size: 36px;
  color: var(--gray-2);
  font-family: var(--font-trap);
}
.macbook-air-24 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9329px;
  overflow: hidden;
  text-align: left;
  left: 7%;
  font-size: 48px;
  color: var(--gray-1);
  font-family: var(--font-helvetica-neue);
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }